.popover__overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
	z-index: 10;

	&--visible {
		visibility: visible;
	}
}

.popover__container {
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
}
