@import '~styles/colors';
@import '~styles/variables';

.main {

		display: flex;
		position: relative;
		overflow: hidden;

	&__wrapper {
		flex: 1 1 auto;
		padding: 0 16px;
		overflow-y: auto;
	}

	&::before {
		content:"";
		transition: all .3s;
		width: 100%;
		position: absolute;
		bottom: -4px;
    box-shadow: 0 0 1px 1px #ccc;
    border-radius: 50%;
    height: 4px;
    z-index: 1;
	}

	&--atBottom::before {
		box-shadow: 0 0 1px 1px transparent;
	}

	&--loading::after {
		position: absolute;
		left: 0;
    right: 0;
		content: "";
		height: 20px;
		width: 20px;
		border-radius: 50%;

		margin: $default-padding auto;
		border: 4px solid $color-dark-blue;
  	border-color: $color-dark-blue transparent transparent transparent;
		display: block;
		animation: loader-rotate 1s linear infinite;
	}
}

.container {
	flex: 1 1;
	display: flex;
	flex-direction: column;
	width: 100%;
}


@keyframes loader-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
