@import '~styles/colors';
@import '~styles/variables';
@import '~styles/helpers';


.avatar-container {
    margin: 0 5px;
    display: flex;
}

.avatar {
    margin: 0 -5px;
    box-shadow: -2px 0 1px 0px #00000082;
    &:first-child {
        box-shadow: none;
    }
}

.typing-indicator {
    text-align: center;

    & &__dot {
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 8px;
        margin: 0 2px;
        background: $color-text-grey;
        border-radius: 50px;
        animation: typing-indicator-dot 0.9s infinite alternate;

        &:nth-of-type(2) {
            animation-delay: 0.3s;
        }
        &:nth-of-type(3) {
            animation-delay: 0.6s;
        }
    }
}

@include keyframes('typing-indicator-dot') {
    0% {
        background: $color-text-grey;
    }
    100% {
        background: $bg-color-grey;
    }
}
