{
	"extends": [
		"@rocket.chat/eslint-config",
	],
	"plugins": ["react"],
	"parser": "babel-eslint",
	"globals": {
		"I18n": true,
	},
	"env": {
		"jest": true,
	},
	"rules": {
		"import/order": ["error", {
			"newlines-between": "always",
			"groups": ["builtin", "external", "internal", ["parent", "sibling", "index"]],
		}],
		"react/jsx-uses-react": "error",
		"react/jsx-uses-vars": "error",
		"react/jsx-no-undef": "error",
		"react/jsx-fragments": ["error", "syntax"],
	},
}
