@import '~styles/variables';

$button-group-margin: ($default-gap / 4);

.rich-message-group {
	display: flex;

	width: 100%;

	margin: -$button-group-margin;
	align-items: center;
	flex-flow: row wrap;

	&__item {
		margin: $button-group-margin;
		flex-grow: 1;
	}
}
