@import '~styles/colors';
@import '~styles/variables';

@mixin state($color) {
	border-color: $color;
	background: $color;

	&--outline {
		&.button--outline {
			color: $color;
		}

		&.button--loading {
			&::after {
				$color-dark: darken($color, 10%);
				border-color: $color-dark
					rgba($color-dark, 0.5)
					rgba($color-dark, 0.5)
					rgba($color-dark, 0.5);
			}
		}

		&.button--loading {
			&::after {
				$color-dark: darken($color, 10%);
				border-color: $color-dark
					rgba($color-dark, 0.5)
					rgba($color-dark, 0.5)
					rgba($color-dark, 0.5);
			}
		}
	}
}

.group {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	margin: -.25rem;

	.button {
		margin: .25rem;
		flex-grow: 1;
	}
}

$padding: 20px;

.button {
	box-sizing: border-box;
	position: relative;

	transition: color $default-time-animation, background $default-time-animation, trasform $default-time-animation;

	border: $default-border solid;

	height: $form-item-height;
	border-radius: $default-border-radius;

	@include state($color-blue);

	color: white;
	font-size: 14px;

	white-space: nowrap;
	text-decoration: none;

	padding: 0.25rem $padding/2;

	cursor: pointer;

	&__inner {
		padding: 0 $padding/2;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		transition: all $default-time-animation;
	}

	// COLORS
	&--danger {
		@include state($color-dark-red);
	}

	// STYLE
	&--outline {
		background: none;
	}

	&--stack {
		width: 100%;
	}

	&--small {
		height: $form-item-height-small;
		padding: 0.25rem 10px;
	}

	// STATES
	&--disabled {
		opacity: .5;
		cursor: not-allowed;
	}

	&--loading {
		& .button__inner {
			padding-right: 24px;
		}

		&.button--stack .button__inner {
			padding-left: 24px;
		}

		&::after {
			width: 10px;
			height: 10px;

			border-width: 8px;
			border-style: solid;

			border-radius: 50%;
			animation: loader-rotate 1s linear infinite;
			display: inline-block;
			vertical-align: middle;
			content: "";
			position: relative;
			right: 24px;
		}
	}

	&:active:not(:disabled) {
		opacity: .9;
		transform: translateY(2px);
	}
}

@keyframes loader-rotate {
  0% {
		transform: rotate(0);
	}

  100% {
		transform: rotate(360deg);
	}
}
