@import '~styles/colors';
@import '~styles/helpers';
@import '~styles/variables';


$composer-padding: 12px 6px;
$composer-border-width: $default-border;
$composer-border-color: $color-text-light;
$composer-border-radius: $default-border-radius;
$composer-background-color: $bg-color-white;
$composer-focused-border-color: $color-text-grey;

$composer-input-min-height: 20px;
$composer-input-max-height: 150px;
$composer-input-padding: 2px 6px;
$composer-input-color: $bg-color-dark;
$composer-input-font-size: 0.875rem;
$composer-input-font-weight: 500;
$composer-input-line-height: 1.25rem;
$composer-input-placeholder-color: $color-text-light;

.composer {
	display: flex;
	width: 100%;
	padding: $composer-padding;
	align-items: flex-end;

	border: $composer-border-width solid $composer-border-color;
	border-radius: $composer-border-radius;
	background-color: $composer-background-color;

	transition: all $default-time-animation;

	&:focus-within {
		border-color: $composer-focused-border-color;
	}

	&__input {
		flex: 1 1 auto;
		min-height: $composer-input-min-height;
		max-height: $composer-input-max-height;
		padding: $composer-input-padding;

		border: none;
		color: $composer-input-color;

		font-size: $composer-input-font-size;
		font-weight: $composer-input-font-weight;
		line-height: $composer-input-line-height;

		cursor: text;
		outline: none;
		resize: none;
		overflow-y: auto;
		word-wrap: break-word;

		&:empty:before {
			content: attr(data-placeholder);

			display: block; /* For Firefox */
			max-width: 100%;

			color: $composer-input-placeholder-color;

			text-overflow: ellipsis;
			white-space: nowrap;

			overflow: hidden;
		}


	}

	&--connecting {
		.composer__input {
			cursor: default;
		}
	}
}
