@import '~styles/colors';
@import '~styles/variables';


.composer {
    transition: all .3s;
    border: $default-border solid $color-text-light;
    border-radius: $default-border-radius;
    padding: 12px;
    display: flex;
    align-items: flex-end;
    background: $bg-color-white;

    &:focus-within {
        border-color: $color-text-grey;
    }
}

.icon {
    padding: 0 12px;
    flex: 0 0;
}

.input {
    font-size: 14px;
    font-weight: 500;
    border:none;
    outline:none;
    max-height: 150px;
    flex: 1 1 auto;
    resize: none;
    word-wrap: break-word;
    overflow-y: auto;
    &:empty:before {
        content: attr(placeholder);
        display: block; /* For Firefox */
        color: $color-text-light;
    }
}
