@import '~styles/colors';
@import '~styles/variables';

$composer-padding: 12px;

.composer {
    transition: all .3s;
    border: $default-border solid $color-text-light;
    border-radius: $default-border-radius;
    padding: $composer-padding $composer-padding/2;
    display: flex;
    align-items: flex-end;
    background: $bg-color-white;
    width: 100%;

    &:focus-within {
        border-color: $color-text-grey;
    }

    &__input {
        color:  $bg-color-dark;
        padding: 2px $composer-padding/2;
        min-height: 20px;
        font-size: 14px;
        font-weight: 500;
        border:none;
        outline:none;
        max-height: 150px;
        flex: 1 1 auto;
        resize: none;
        word-wrap: break-word;
        overflow-y: auto;
        cursor: text;

        &:empty:before {
            content: attr(data-placeholder);
            display: block; /* For Firefox */
            color: $color-text-light;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
        }
    }
}

.composer__actions {
    flex: 0 0;
    font-size: 0;
    display: flex;
}

.composer__action {
    margin: 0 $composer-padding/2;
    padding: 0;
    flex: 0 0;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 0;

    &:focus {
        transform: scale(1.05);
        outline: none;
    }

    &:active {
        transform: translateY(1px);
    }
}
