@import '~styles/colors';
@import '~styles/variables';

.menu {
	background: $bg-color-white;
	border-radius: 4px;
	box-shadow: 0 0 2px 0 rgba($bg-color-dark, 0.08),
		0 0 12px 0 rgba($bg-color-dark, 0.12);
	padding: 16px 0;
	transition: opacity $default-time-animation,
		visibility $default-time-animation,
		transform $default-time-animation / 2;
	user-select: none;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	&:empty {
		width: 32px;
	}

	&__group {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		&-title {
			color: $color-text-dark;
			font-size: 12px;
			font-weight: 600;
			letter-spacing: 0;
			line-height: 16px;

			margin: 2px 16px;
		}

		& + &::before {
			content: "";
			display: block;
			border: 1px solid $bg-color-grey;
			margin: 14px 16px;
		}
	}

	&__item {
		font-family: inherit;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 24px;
		text-align: initial;
		padding: 12px 16px;
		white-space: nowrap;
		background: none;
		border: none;
		outline: none;
		cursor: pointer;

		@mixin itemcolor($color) {
			color: $color;

			&:hover {
				background-color: mix($color, $bg-color-white, 5%);
			}

			&:active {
				background-color: mix($color, $bg-color-white, 10%)
			}
		}

		@include itemcolor($color-text-dark);


		&--primary {
			@include itemcolor($color-blue);
		}

		&--danger {
			@include itemcolor($color-red);
		}

		&--disabled {
			opacity: .5;
			pointer-events: none;
		}
	}

	&--hidden {
    visibility: hidden;
		opacity: 0;
		transform: scale(0);
	}

	&--placement {
		position: absolute;

		&-left-top {
			right: 0;
			bottom: 100%;
			transform-origin: right bottom;
		}

		&-right-top {
			left: 0;
			bottom: 100%;
			transform-origin: left bottom;
		}

		&-right-bottom {
			left: 0;
			top: 100%;
			transform-origin: left top;
		}

		&-left-bottom {
			right: 0;
			top: 100%;
			transform-origin: right top;
		}
	}
}

.popover-menu__overlay {
	background-color: rgba(12, 13, 15, 0.2);
}
