@import '~styles/colors';
@import '~styles/variables';

.input {
	transition: border-color $default-time-animation, color $default-time-animation;
	outline: none;
	font-size: 14px;
	font-weight: 500;
	border-radius: $default-border;
	padding: 10px;
	height: $form-item-height;
	border: $default-border solid $bg-color-grey;
	color: $color-text-dark;
	transition: color $default-time-animation, background $default-time-animation, trasform $default-time-animation;
	&.small {
		height: $form-item-height-small;
	}

	&:focus {
		border-color: $bg-color-dark;
	}

	&.error {
		border-color: $color-red;
		color: $color-red;
	}

	&:focus {
		color: $color-text-dark;
	}


	&.disabled {
		opacity: .9;
		background: $color-text-light;
		cursor: not-allowed;
	}
}

textarea.input {
	height: auto;
	resize: none;
}

.label {
	height: 16px;
	color: #2F343D;
	font-size: $form-input-label-font-size;
	font-weight: 600;
	text-align: left;
	letter-spacing: 0;
	margin: 5px 0;

		&.error {
		border-color: $color-red;
		color: $color-red;
	}
}

.description {
	height: 20px;
	color: #9EA2A8;
	font-size: $form-input-description-font-size;
	font-weight: 500;
	margin-top: 8px;

	&.error {
		color: $color-red;
	}
}


.formGroup {
	display: flex;
	flex-direction: column;
	margin-bottom: $form-item-margin-bottom;
	width: 100%;

	&.inline {
		flex-direction: row;
		align-items: center;
		.label + .input {
			margin-left: 16px;
		}
	}
}
