@import '~styles/colors';
@import '~styles/variables';


$form-item-margin-bottom: $default-gap;
$form-item-inline-margin-left: $default-gap;

$form-label-margin: ($default-gap / 3) 0;

$form-label-color: $color-text-dark;
$form-label-error-color: $color-red;

$form-label-font-size: 0.75rem;
$form-label-font-weight: 600;
$form-label-line-height: 1rem;

$form-description-margin: ($default-gap / 2) 0 0;

$form-description-color: $color-text-grey;
$form-description-error-color: $color-red;

$form-description-font-size: 0.75rem;
$form-description-font-weight: 500;
$form-description-line-height: 1rem;

$form-input-border-width: $default-border;
$form-input-border-radius: $default-border-radius;
$form-input-padding: (0.75 * $default-gap - $default-border);
$form-input-small-padding: (0.25 * $default-gap - $default-border / 2) (0.75 * $default-gap - $default-border);

$form-input-color: $color-text-dark;
$form-input-placeholder-color: $color-text-light;
$form-input-background-color: $bg-color-white;
$form-input-border-color: $bg-color-grey;
$form-input-focus-border-color: $color-text-dark;
$form-input-hover-border-color: $color-text-light;
$form-input-disabled-background-color: $bg-color-grey;
$form-input-disabled-color: $color-text-light;
$form-input-error-color: $color-red;
$form-input-error-border-color: $color-red;

$form-input-font-family: $font-family;
$form-input-font-size: 0.875rem;
$form-input-font-weight: 500;
$form-input-line-height: 1.25rem;

$form-input-disabled-opacity: $disabled-opacity;

$form-input-select-arrow-size: $form-input-padding;
$form-input-select-arrow-padding: $form-input-padding;

$form-input-select-arrow-color: $color-text-light;

.form__item {
	display: flex;
	flex-direction: column;

	width: 100%;
	margin-bottom: $form-item-margin-bottom;

	&--inline {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;

		.form__label {
			flex: 1 25%;
		}

		.form__label + .form__input {
			flex: 3 75%;
		}

		.form__description {
			flex: 0 75%;
		}
	}
}

.form__label {
	margin: $form-label-margin;

	color: $form-label-color;

	font-size: $form-label-font-size;
	font-weight: $form-label-font-weight;
	text-align: left;
	letter-spacing: 0;
	line-height: $form-label-line-height;
	white-space: nowrap;
	text-overflow: ellipsis;

	&--error {
		color: $form-label-error-color;
	}
}

.form__description {
	margin: $form-description-margin;

	color: $form-description-color;

	font-size: $form-description-font-size;
	font-weight: $form-description-font-weight;
	line-height: $form-description-line-height;

	&--error {
		color: $form-description-error-color;
	}
}

@mixin form__input-box {
	border: $form-input-border-width solid $form-input-border-color;
	border-radius: $form-input-border-radius;
	padding: $form-input-padding;

	color: $form-input-color;
	background-color: $form-input-background-color;
	outline: none;

	font-family: $form-input-font-family;
	font-size: $form-input-font-size;
	font-weight: $form-input-font-weight;
	line-height: $form-input-line-height;

	transition: border-color $default-time-animation,
		color $default-time-animation,
		color $default-time-animation,
		background-color $default-time-animation,
		trasform $default-time-animation;

	&:focus {
		border-color: $form-input-focus-border-color;
	}

	&:hover {
		border-color: $form-input-hover-border-color;
	}

	&--small {
		padding: $form-input-small-padding;
	}

	&--disabled {
		color: $form-input-disabled-color;
		background-color: $form-input-disabled-background-color;
		border-color: $form-input-border-color;

		opacity: $form-input-disabled-opacity;
		cursor: not-allowed;
	}

	&--error {
		border-color: $form-input-error-border-color;
		color: $form-input-error-color;
	}
}

.form__input-text,
.form__input-password {
	@include form__input-box;

	&::placeholder {
		color: $form-input-placeholder-color;
	}
}

textarea.form__input-text {
	resize: none;
}

.form__input-select {
	position: relative;
	display: flex;
	flex: 1;

	&__select {
		@include form__input-box;

		flex: 1;

		padding-right: (3 * $form-input-select-arrow-padding + $form-input-select-arrow-size);

		color: $form-input-color;

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&::-ms-expand {
			display: none;
		}

		&--placeholder {
			color: $form-input-placeholder-color;
		}

		&--small {
			padding-right: (3 * $form-input-select-arrow-padding + $form-input-select-arrow-size);
		}
	}

	&__option {
		color: $form-input-color;
	}

	&__arrow {
		position: absolute;
		right: $form-input-select-arrow-padding;
		top: 50%;

		width: $form-input-select-arrow-size;
		height: $form-input-select-arrow-size;

		color: $form-input-select-arrow-color;

		transform: translateY(-50%) translateY(2px);
		pointer-events: none;
	}
}
