@import '../../../styles/colors';
@import '../../../styles/variables';

$alert-error-background-color: $color-red;

.message-list {
	display: flex;
	overflow-y: scroll;
	flex: 1 1 0;
	align-items: stretch;
	flex-flow: column nowrap;

	&::-webkit-scrollbar {
		&-track {
			background-color: rgba(0, 0, 0, 0);
		}

		&-thumb {
			background: rgba(0, 0, 0, 0);
		}
	}

	&:hover::-webkit-scrollbar {
		&-thumb {
			background-color: $color-text-light;
		}
	}

	&__content {
		flex: 1 1 auto;

		margin: 0 16px;
		padding: 0;

		list-style: none;
	}
}

.many-request-error{
	background-color: $alert-error-background-color;
	width:100%;
	height:28px;
	color: #FFFFFF;
	font-family: Helvetica Neue,arial,sans-serif;
	font-size: 12px;
	padding:5px;
}
