@import '../../../styles/colors';
@import '../../../styles/variables';

.message-list {
	display: flex;
	overflow-y: scroll;
	flex: 1 1 0;
	align-items: stretch;
	flex-flow: column nowrap;

	&::-webkit-scrollbar {
		&-track {
			background-color: rgba(0, 0, 0, 0);
		}

		&-thumb {
			background: rgba(0, 0, 0, 0);
		}
	}

	&:hover::-webkit-scrollbar {
		&-thumb {
			background-color: $color-text-light;
		}
	}

	&__content {
		flex: 1 1 auto;

		margin: 0 16px;
		padding: 0;

		list-style: none;
	}
}

.notifyCall {
	position: absolute;
	top: 0;

	display: flex;
	flex-direction: column;

	width: 100%;
	height: 50%;
	margin-bottom: 5px;

	padding-top: 40px;
	padding-bottom: 0;

	text-align: center;

	color: #ffffff;

	border: 1px solid black;

	background: #1f2329;

	font-size: 15px;
	font-weight: 600;
	font-style: normal;
	line-height: 16px;
	justify-content: space-between;
}

.button {
	display: flex;
	flex-direction: row;

	margin-bottom: 1px;
	padding: 10px;
	padding-top: 0;

	color: white;
	justify-content: center;
}

.avatar {
	display: flex;
	flex-direction: row;

	margin-bottom: -17%;
	justify-content: center;
}

.declineButton {
	margin-right: 10px;
	margin-bottom: 0;

	border-color: red;
	background-color: #f5455c;
}

.acceptButton {
	margin-bottom: 0;
	margin-left: 10px;

	border-color: green;
	background-color: #2de0a5;
}

.iframe {
	position: absolute;
	top: 0;

	display: flex;
	flex-direction: column;

	width: 100%;
	height: 50%;
}

@media screen and (min-width: 410px) {
	.avatar {
		margin-bottom: -7%;
	}
}
