@import '../../../styles/colors';
@import '../../../styles/variables';

.message-list {
	display: flex;
	overflow-y: scroll;
	flex: 1 1 0;
	align-items: stretch;
	flex-flow: column nowrap;

	&::-webkit-scrollbar {
		&-track {
			background-color: rgba(0, 0, 0, 0);
		}

		&-thumb {
			background: rgba(0, 0, 0, 0);
		}
	}

	&:hover::-webkit-scrollbar {
		&-thumb {
			background-color: $color-text-light;
		}
	}

	&__content {
		flex: 1 1 auto;

		margin: 0 16px;
		padding: 0;

		list-style: none;
	}
}

.call {
	position:absolute; margin-bottom:5px; top:0px; width:100%;height:60%;background: #1F2329;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
    text-align: center;
	color: #FFFFFF
  }
  .btn{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
	margin:20px;
	color: blue;
  }

