.attachment-component {
    &__inner {
		height: 2rem;
		max-width: 100%;
	}
}

.button {
	background-color: white;

	border: 1px solid orange;

	border-radius: 50px;

	color: black;

	cursor: pointer;

	display: inline-block;

	font-family: verdana;

	font-size: 12px;

	margin: 4px 2px;

	padding: 7px 20px;

	text-align: center;

	text-decoration: none;

	transition-duration: 0.4s;
}

.button :hover {
	background-color: orange;

	color: black;
}
