@import '~styles/colors';

.screen {
	width: 100%;
	flex: 1 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: $bg-color-white;
	overflow: hidden;

	&--rounded {
		border-radius: 4px;
	}
}

.screen__header-subtitle {
	margin: 0 -0.1rem;

	& > * {
		margin: 0 0.1rem;
	}
}

.screen__header-custom {
	margin: 0 -0.1rem;

	& > * {
		margin: 0 0.1rem;
	}
}


.screen__main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	padding: 1rem 1rem 0;

	&--nopadding {
		padding: 0;
	}
}

.screen__agent-email {
	margin: 5px;
}
