@import 'colors';
@import 'grid';
@import 'variables';


html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: $font-family;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 5px;

	&-thumb {
		background: $color-text-grey;
		border-radius: 5px;
	}

	&-track {
		background: $color-text-light;
		border-radius: 5px;
	}
}

#app {
	display: flex;
	flex-direction: column;
	height: 100%;
}
