@import '~styles/colors';

$status-indicator-size-small: 10px;
$status-indicator-size-medium: 12px;
$status-indicator-size-large: 14px;

.status {
  display: inline-flex;
  align-self: center;
  height: $status-indicator-size-medium;
  width: $status-indicator-size-medium;
  border-radius: 50%;
  background-color: $bg-color-grey;

  &--bordered {
    border-width: 2px;
		border-style: solid;
		border-color: var(--color, transparent);
  }

  &--small {
    height: $status-indicator-size-small;
    width: $status-indicator-size-small;
  }

  &--large {
    height: $status-indicator-size-large;
    width: $status-indicator-size-large;
  }

  &--status {
    &-online {
      background-color: $color-green;
    }

    &-away {
      background-color: $color-yellow;
    }

    &-busy {
      background-color: $color-red;
    }
  }
}
