@import '~styles/colors';
@import '~styles/helpers';
@import '~styles/variables';


$alert-color: $color-text-lighter;
$alert-font-family: $font-family;
$alert-background-color: $bg-color-darker;
$alert-success-background-color: $color-green;
$alert-warning-background-color: $color-yellow;
$alert-error-background-color: $color-red;

.alert {
	width: 100%;
	height: 28px;
	padding: 6px 16px;
	color: $alert-color;
	font-size: 12px;
	font-family: $alert-font-family;
	font-weight: 600;
	overflow: hidden;
	letter-spacing: 0;
	line-height: 16px;
	background-color: $alert-background-color;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__content {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__close {
		padding: 0;
		background: none;
		border: none;
		outline: none;
		color: $alert-color;
		cursor: pointer;
		display: flex;

		@include pressable-button(1px);
	}

	&--success {
		background-color: $alert-success-background-color;
	}

	&--warning {
		background-color: $alert-warning-background-color;
	}

	&--error {
		background-color: $alert-error-background-color;
	}
}
