@import '~styles/colors';
@import '~styles/variables';

$header-padding: $default-padding;

.drop {
	position: relative;
	display: flex;
	flex: 1 1 auto;

	&--dragover {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			background: #ffffff78;
			left: 0;
			right: 0;
			bottom: 0;
			animation: fadein 1s;
			z-index: 1;
		}
		&::after {
			content: "Drag here to upload a file";
			position: absolute;
			color: $color-blue;
			border: 4px $color-blue dashed;
			box-sizing: border-box;
			top: $default-padding;
			left: $default-padding;
			right: $default-padding;
			bottom: $default-padding;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2rem;
			font-weight: 500;
			animation: fadein 1s;
			z-index: 1;
			padding: $default-padding;
			text-align: center;
		}
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
