@import '../../styles/colors';


.trigger-message {
	&__message {
		margin: 0.4rem 0;
		letter-spacing: 0;

		font-size: 0.75rem;
		line-height: 1rem;
	}

	&__footer {
		text-align: center;
	}

	&__separator {
		background: #F2F3F5;
		height: 0.125rem;
		width: 90%;
		border: 0;
		margin-bottom: 0;
	}

	&__link-reply {
		color: $color-blue;
		text-decoration: none;
		font-weight: bold;
		font-size: 0.75rem;
		margin: 1rem 0 1rem 0;
		padding: 0;
		background: none;
		border: 0;
		cursor: pointer;
	}
}
