@import '~styles/colors';
@import '~styles/variables';


$drop-overlay-animation-time: $default-time-animation;
$drop-overlay-background-color: rgba($bg-color-white, 0.9);
$drop-overlay-gap: $default-padding;
$drop-overlay-border-width: 4px;
$drop-overlay-border-style: dashed;
$drop-overlay-text-font-size: 1.375rem;

.drop {
	position: relative;
	display: flex;
	flex: 1 1 auto;

	&.drop--overlayed.drop--dragover {
		&::before {
			content: "";

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $drop-overlay-background-color;
			animation: fadein $drop-overlay-animation-time;
			z-index: 10;
			pointer-events: none;
		}

		&::after {
			content: attr(data-overlay-text) "";

			position: absolute;
			box-sizing: border-box;
			top: $drop-overlay-gap;
			left: $drop-overlay-gap;
			right: $drop-overlay-gap;
			bottom: $drop-overlay-gap;
			padding: $drop-overlay-gap;
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--color, $color-blue);
			border: $drop-overlay-border-width var(--color, $color-blue) $drop-overlay-border-style;
			font-size: $drop-overlay-text-font-size;
			font-weight: 500;
			text-align: center;
			animation: fadein $drop-overlay-animation-time;
			z-index: 10;
			pointer-events: none;
		}
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
