.leave-message {
	padding: 1rem 1.5rem 0;

	color: var(--register-message-color, black);

	&__main-message {
		margin: 0 0 1rem;

		font-weight: 500;
		line-height: 1.5;
	}
}

.font-normal {
	font-size: 1rem;
}

.font-small {
	font-size: 0.75rem;
}

.font-large {
	font-size: 1.25rem;
}
