@import '~styles/colors';
@import '~styles/variables';

$header-padding: $default-padding;
$header-height: 56px;
$header-height-large: 77px;

.header {
	width: 100%;
	height: $header-height;
	padding: 0 $header-padding / 2;
	background: $color-dark-blue;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 auto;
	color: $bg-color-white;
	font-size: 16px;

	&__item {
		margin: 0 $header-padding / 2;
		flex: 0 0 auto;
	}

	&__picture {
		@extend .header__item;
	}

	&__content {
		@extend .header__item;
		flex-grow: 1;
		flex-shrink: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		.header__title {
			font-size: 16px;
			font-weight: 500;
			line-height: 1.5;
		}

		.header__subtitle {
			overflow: hidden;
			text-overflow: ellipsis;
			opacity: 0.7;
			font-size: 12px;
			font-weight: 500;
			line-height: 1.5;
			letter-spacing: normal;
			color: #ffffff;
		}

		.header__custom-field {
			overflow: hidden;
			text-overflow: ellipsis;
			opacity: 0.7;
			font-size: 12px;
			font-weight: 500;
			line-height: 1.67;
			letter-spacing: normal;
			color: #ffffff;
		}
	}

	&__actions {
		@extend .header__item;
		display: flex;

		.header__action {
			background: none;
			border: none;
			outline: none;
			cursor: pointer;
			display: flex;
			justify-content: center;
			flex: 0 0 auto;
			color: $color-text-lighter;

			&:active {
				opacity: .9;
				transform: translateY(2px);
			}
		}
	}

	&__post {
		position: absolute;
		top: $header-height;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 10;
	}

	&--large {
		height: $header-height-large;

		.header__post {
			top: $header-height-large;
		}
	}
}
