$color-text-dark: #2F343D;
$color-text-grey: #9EA2A8;
$color-text-light: #CBCED1;

$bg-color-dark: #2F343D;
$bg-color-light: #F7F8FA;
$bg-color-white: #FFFFFF;

$color-dark-blue: #175CC4;


$color-dark-red: #E0364D;
