@import '~styles/colors';


.gdpr {
	&__consent-text {
        color: $color-text-grey;
        font-size: 16px;
        font-weight: normal;
        height: 192px;
        letter-spacing: 0;
        line-height: 24px;
	}

	&__instructions {
		font-size: 12px;
        font-weight: normal;
        height: 38px;
        letter-spacing: 0;
        line-height: 19px;
	}
}
