@import '~styles/colors';

.unread {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 16px;
    margin: 20px 0;

    &__text {
        height: 16px;
        color: $color-red;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.2px;
        line-height: 16px;
        padding: 0 8px;
    }

    &__line {
        display: flex;
        flex: 1;
        border: 0;
        border-top: 2px solid $color-red;
    }
}