@import '~styles/variables';
@import '~styles/colors';


.footer {
	width: 100%;
	color: $color-text-grey;
	padding: 4px 8px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	font-size: 0.625rem;
	flex: 0 0 auto;
	flex-direction: column;

	&__content {
		padding: 4px 8px;
		display: flex;
	}

	&__options {
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
		color: $color-text-grey;
		font-size: 0.625rem;
		font-weight: bold;
		text-align: left;
		letter-spacing: 0.2px;
		line-height: 1;
		transition: trasform $default-time-animation;
		user-select: none;

		&:active {
			opacity: .9;
			transform: translateY(2px);
		}
	}
}

.powered-by {
	font-size: 10px;
	font-weight: 500;
	text-align: end;
	width: 100%;
	margin: 0;
	align-self: flex-end;
	user-select: none;

	.powered-by__logo {
		margin: 0 5px;
		vertical-align: middle;
		--text-color: #{$color-text-grey};
		--rocket-color: #{$color-text-grey};

		&:hover {
			--text-color: #2F343D;
			--rocket-color: #DB2323;
		}
	}
}
