.footer {
	width: 100%;
	color: #9EA2A8;
	padding: 8px 17px;
	display: flex;
    justify-content: space-between;
	align-items: center;
	font-size: 10px;
}

.footer h1 {
	font-size: 10px;
	font-weight: 500;
	flex: 1 1 100%;
    text-align: end;
}

.footer nav {
	float: right;
	font-size: 100%;
}

.footer nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
}

.footer nav a:hover,
.footer nav a:active {
	background: rgba(0,0,0,0.2);
}

.footer nav a.active {
	background: rgba(0,0,0,0.4);
}
