<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<script>
			if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
				document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features=default%2Ces2017%2Ces2015%2Ces2016%2Ces2018%2Ces2019"><\/script>');
			}
		</script>
		<% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
