@import '~styles/colors';
@import '~styles/variables';

$message-padding: 12px;
$message-margin: 8px;

.message {
    width: 100%;
    display: flex;

    &--me {
        justify-content: flex-end;
    }

    &__content {
        position: relative;
        margin: 0 $message-margin;
    }

    &__container {
        display: flex;
        align-items: flex-end;
        margin-bottom: 16px;
    }

    &__text {
        padding: $message-padding;
        background: $bg-color-grey;
        color: $bg-color-dark;
        border-radius: $default-border-radius;
        font-size: 14px;
        position: relative;
        word-break: break-word;

        &--me {
            background: $color-blue;
            color: white;
        }
    }

    &__time {
        position: absolute;
        color: $color-text-grey;
        line-height: 16px;
        font-size: 10px;
        text-align: right;
        right: 0;
        bottom: -16px;
    }

    h1,h2, h3,p {
        padding: 0;
        margin: 0;
    }
}
