@import '~styles/colors';
@import '~styles/variables';

$message-padding: 12px;
$message-margin: 8px;


.attachment {
    max-width: 100%;
    &__image {
        border-radius: $default-border-radius;
        box-shadow: 0px 0px $default-border-radius 0px $color-text-grey;
        max-height: 250px;
    }
    &__video {
        max-height: 250px;
    }
    &__no-preview {
        min-width: 180px;
        max-width: 280px;
        height: 56px;
        background: $bg-color-light;
        border-radius: $default-border-radius;
        color: $color-text-dark;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 16px;
        padding: $message-padding;
        display: flex;
        align-items: center;
        text-decoration: none;

        &__title {
            display: block;
            flex: 1 1 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 0 $message-margin;
        }

        &__download {
            color: $color-text-light;
            &:hover {
                color: $color-blue;
            }
        }
    }

    &:not(:first-child) {
        margin-top: 8px;
    }
}

.avatar--group {
    visibility: hidden;
}
.message {
    width: 100%;
    display: flex;
    &--group {
        .message__time {
            display: none;
        }
        .message__container {
            margin-bottom: $default-padding/4;
        }
    }
    &--me {
        justify-content: flex-end;
    }

    &__content {
        position: relative;
        margin: 0 $message-margin;
        font-size: 0;
    }

    &__container {
        display: flex;
        align-items: flex-end;
        margin-bottom: $default-padding;
    }


    &__text {
        padding: $message-padding;
        background: $bg-color-grey;
        color: $bg-color-dark;
        border-radius: $default-border-radius;
        font-size: 14px;
        position: relative;
        word-break: break-word;

        &--me {
            background: $color-blue;
            color: white;
        }
    }

    &__time {
        position: absolute;
        color: $color-text-grey;
        line-height: $default-padding;
        font-size: 10px;
        text-align: right;
        right: 0;
        bottom: -$default-padding;
        white-space: nowrap;
    }

    h1,h2, h3,p {
        padding: 0;
        margin: 0;
    }
}
