@import '~styles/colors';
@import '~styles/variables';


$message-container-margin: 0 0 $default-padding 0;
$message-container-grouped-margin: 0 0 ($default-padding / 4) 0;

$message-content-margin: 0 8px;

$message-text-padding: 0.75rem;
$message-text-background-color: $bg-color-light;
$message-text-color: $color-text-dark;
$message-text-border-radius: $default-border-radius;
$message-text-font-size: 0.875rem;
$message-text-link-color: $color-blue;
$message-text-me-background-color: $color-blue;
$message-text-me-color: $color-text-lighter;
$message-text-me-link-color: $color-text-lighter;

$message-time-font-size: 0.625rem;
$message-time-line-height: 1rem;
$message-time-color: $color-text-grey;

$message-attachment-font-size: 0.75rem;
$message-attachment-line-height: 1rem;
$message-attachment-media-max-height: 250px;
$message-attachment-nopreview-min-width: 180px;
$message-attachment-nopreview-max-width: 280px;
$message-attachment-nopreview-height: 3.5rem;
$message-attachment-title-margin: 0 8px;
$message-attachment-download-color: $color-text-light;
$message-attachment-download-highlight-color: $color-blue;
$message-attachment-gap: 8px;

.message {
	display: flex;
	justify-content: flex-start;

	&__container {
		display: flex;
		align-items: flex-end;
		margin: $message-container-margin;
	}

	&__avatar {
		margin-bottom: $message-time-line-height;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: $message-content-margin;
	}

	&__text {
		padding: $message-text-padding;
		background-color: $message-text-background-color;
		color: $message-text-color;
		border-radius: $message-text-border-radius;
		font-size: $message-text-font-size;
		word-break: break-all;

		&--system {
			font-style: italic;
		}

		a {
			color: var(--color, $message-text-link-color);
			text-decoration: underline dotted;

			&:hover,
			&:focus {
				text-decoration-style: solid;
			}
		}

		h1, h2, h3, h4, h5, h6,
		p {
			padding: 0;
			margin: 0;
		}
	}

	&__time {
		align-self: flex-end;
		color: $message-time-color;
		line-height: $message-time-line-height;
		font-size: $message-time-font-size;
		white-space: nowrap;
	}

	&__attachments {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0 0 (-$message-attachment-gap / 2) 0;
	}

	&__attachment {
		margin: ($message-attachment-gap / 2) 0;
		max-width: 100%;
		font-size: $message-attachment-font-size;
		font-weight: 500;
		letter-spacing: 0;
		line-height: $message-attachment-line-height;
		text-decoration: none;

		&--image,
		&--video {
			max-height: $message-attachment-media-max-height;
		}

		&--no-preview {
			display: flex;
			align-items: center;
			min-width: $message-attachment-nopreview-min-width;
			max-width: $message-attachment-nopreview-max-width;
			height: $message-attachment-nopreview-height;
			padding: $message-text-padding;
			background-color: $message-text-background-color;
			color: $message-text-color;
			border-radius: $message-text-border-radius;
		}

		&-title {
			display: block;
			flex: 1 1 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin: $message-attachment-title-margin;
		}

		&-download {
			color: $message-attachment-download-color;
		}

		&:focus,
		&:hover {
			.message__attachment-download {
				color: var(--color, $message-attachment-download-highlight-color);
			}
		}
	}

	&--me {
		justify-content: flex-end;

		.message__container {
			flex-direction: row-reverse;
		}

		.message__content {
			align-items: flex-end;
		}

		.message__text {
			background-color: var(--color, $message-text-me-background-color);
			color: var(--font-color, $message-text-me-color);

			a {
				color: var(--font-color, $message-text-me-link-color);
			}
		}

		.message__attachments {
			align-items: flex-end;
		}
	}

	&--group {
		.message__container {
			margin: $message-container-grouped-margin;
		}

		.message__avatar {
			margin-bottom: 0;
			visibility: hidden;
		}

		.message__time {
			display: none;
		}
	}
}
