name: Continuous Delivery

on:
  push:
    branches:
      - master
      - develop

jobs:
  build-and-test:
    name: Build and Lint
    runs-on: ubuntu-latest
    outputs:
      branch-name: ${{ steps.set-branch-name.outputs.branch-name }}
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: "12"
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: |
            **/node_modules
            .yarn/cache
          key: ${{ runner.os }}-modules-${{ hashFiles('yarn.lock') }}
      - run: yarn install
        if: steps.yarn-cache.outputs.cache-hit != 'true'
      - run: yarn run build
      - run: yarn run lint
      - run: yarn run build-storybook
      - uses: actions/upload-artifact@v2
        with:
          name: storybooks
          path: |
            storybook-static
      - run: |
          ref='${{ github.ref }}'
          echo "::set-output name=branch-name::$(echo "${ref:11}")"
        id: set-branch-name

  publish-to-npm:
    name: Publish to NPM
    runs-on: ubuntu-latest
    needs:
      - build-and-test
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: "12"
          registry-url: "https://registry.npmjs.org"
          scope: "@rocket.chat"
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: |
            **/node_modules
            .yarn/cache
          key: ${{ runner.os }}-modules-${{ hashFiles('yarn.lock') }}
      - run: yarn install
        if: steps.yarn-cache.outputs.cache-hit != 'true'
      - run: yarn run build
      - run: yarn publish from-package --yes
        if: github.ref == 'refs/heads/master'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: yarn publish --canary --preid dev --dist-tag next --yes
        if: github.ref == 'refs/heads/develop'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: yarn release -y
      - run: yarn deploy-storybook
